<!DOCTYPE html>
<h2>Modification</h2>
<form class="form-horizontal" name="frmEditClasse" ng-submit="updateClasse(classe)" novalidate>
    <h4>Modifier une classe</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Nom de l'établissement</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="nom" ng-model="classe.NomEtablissement" ng-maxlength="40" required />
            <span class="text-danger" ng-show="(frmEditClasse.nom.$touched || frmEditClasse.nom.$dirty) && frmEditClasse.nom.$invalid">
                <span ng-show="frmEditClasse.nom.$error.required">Le nom de l'établissement est requis</span>
                <span ng-show="frmEditClasse.nom.$error.maxlength">Le nom de l'établissement doit être inférieur à 40 caractères</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Niveau</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="niveau" ng-model="classe.Niveau" ng-maxlength="20" required />
            <span class="text-danger" ng-show="(frmEditClasse.niveau.$touched || frmEditClasse.niveau.$dirty) && frmEditClasse.niveau.$invalid">
                <span ng-show="frmEditClasse.niveau.$error.required">Le niveau est requis</span>
                <span ng-show="frmEditClasse.niveau.$error.maxlength">Le niveau doit être inférieur à 20 caractères</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Valider" ng-if="states.showUpdateButton" ng-disabled="frmEditClasse.$pristine || frmEditClasse.$invalid" />
            <a href="#/classes" class="btn btn-default">Annuler</a>
        </div>
    </div>
</form>