<h2>Eleves</h2>
<p>
    <a href="#/addeleve" class="btn btn-primary">Create</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Liste des élèves
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group pull-left">
                    <label>Search</label>
                    <label>
                        <input type="text" class="form-control" ng-model="searchText" style="font-weight: normal" />
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group pull-right">
                    Voir
                    <label>
                        <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                            <option ng-value="6">6</option>
                            <option ng-value="12">12</option>
                            <option ng-value="18">18</option>
                            <option ng-value="24">24</option>
                            <option ng-value="30">30</option>
                        </select>
                    </label>
                    Résultats
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Trier par</th>
                    <th ng-click=sortBy('Classe')>
                        Classe
                        <span class="glyphicon" ng-show="sortColumn=='Classe'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('Nom')>
                        Nom
                        <span class="glyphicon" ng-show="sortColumn=='Nom'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('Prenom')>
                        Prenom
                        <span class="glyphicon" ng-show="sortColumn=='Prenom'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('DateNaissance')>
                        Date de Naissance
                        <span class="glyphicon" ng-show="sortColumn=='DateNaissance'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                </tr>
            </thead>
        </table>
        <section class="our-webcoderskull padding-lg">
            <div class="container card-container">
                <ul class="row">
                    <li class="col-12 col-md-3 col-lg-2" ng-repeat="e in eleves | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage ">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                            <h3>{{ e.Prenom }} {{ e.Nom }}</h3>
                            <p>{{ e.DateNaissance | date:"dd/MM/yyyy" }}</p>
                            <p>{{ e.Classe.Niveau}} - {{ e.Classe.NomEtablissement }}</p>
                            <p>Moyenne : {{ e.moy }} ({{e.nbNotes}} notes)</p>
                            <ul class="follow-us clearfix">
                                <li><a href="#/editeleve/{{e.Id}}"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Modifier" aria-hidden="true"></i></a></li>
                                <li><a href="#" ng-click="deleteEleve(e.Id)" data-toggle="tooltip" title="Supprimer"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a></li>
                                <li><a href="#/addnote/{{e.Id}}" data-toggle="tooltip" title="Ajouter une note"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row" ng-if="!eleves || eleves.length == 0">
                <p style="width:100%; text-align:center; color:white; font-weight:bold">
                    Aucun Eleve à afficher
                </p>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-6">
                <div class="pull-left">
                    <br />
                    <pre>Page: {{currentPage}}/{{numPages}}</pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    <ul uib-pagination total-items="eleves.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>