<h2>Eleves</h2>
<p>
    <a href="#/addeleve" class="btn btn-primary">Create</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Liste des élèves
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group pull-left">
                    <label>Search</label>
                    <label>
                        <input type="text" class="form-control" ng-model="searchText" style="font-weight: normal" />
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group pull-right">
                    Voir
                    <label>
                        <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                            <option ng-value="5">5</option>
                            <option ng-value="10">10</option>
                            <option ng-value="15">15</option>
                            <option ng-value="20">20</option>
                            <option ng-value="50">50</option>
                        </select>
                    </label>
                    Résultats
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click=sortBy('Classe')>
                        Classe
                        <span class="glyphicon" ng-show="sortColumn=='Classe'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('Nom')>
                        Nom
                        <span class="glyphicon" ng-show="sortColumn=='Nom'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('Prenom')>
                        Prenom
                        <span class="glyphicon" ng-show="sortColumn=='Prenom'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th ng-click=sortBy('DateNaissance')>
                        Date de Naissance
                        <span class="glyphicon" ng-show="sortColumn=='DateNaissance'"
                              ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}">
                        </span>
                    </th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in eleves | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage ">
                    <td>{{ e.Classe.Niveau}} - {{ e.Classe.NomEtablissement }}</td>
                    <td>{{ e.Nom }}</td>
                    <td>{{ e.Prenom }}</td>
                    <td>{{ e.DateNaissance | date:"dd/MM/yyyy" }}</td>
                    <td>
                        <a href="#/editeleve/{{e.Id}}">Modifier</a> |
                        <a href="" ng-click="deleteEleve(e.Id)">Supprimer</a>
                    </td>
                </tr>
                <tr ng-if="!eleves || eleves.length == 0">
                    <td colspan="5" style="text-align:center;">
                        Aucun Eleve à afficher
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-6">
                <div class="pull-left">
                    <br />
                    <pre>Page: {{currentPage}}/{{numPages}}</pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    <ul uib-pagination total-items="eleves.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>